.chat {
  box-sizing: border-box;
  width: 100%;
  background-color: #1a1a1a;
  border-radius: 8px;
  padding: 1rem;
  height: 840px;

}



h2 {

  text-align: center;
}

.grid{
  display: inline-grid;

  grid-template-rows: auto auto auto auto;
  height: 100%;
  width: 100%;
}

#send{
  height: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

}

#live-chat {
  grid-row: 2;
  height: 500px;

  background-color: #333333;
  border-radius: 8px;
  padding: 1rem;
  color: white;
  overflow-y: auto;
}

#op-message {
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  padding: 5px;
  border-radius: 8px;
  resize: none;

}
