.chat {
  box-sizing: border-box;
  width: 100%;
  background-color: #1a1a1a;
  border-radius: 8px;
  padding: 1rem;
  max-height: 700px;

}

h2 {

  text-align: center;
}

.grid{
  display: inline-grid;

  grid-template-rows: auto auto auto;
  height: 100%;
  width: 100%;
}


#live-chat {
  grid-row: 2;
  height: 500px;
  max-height: 500px;
  background-color: #333333;
  border-radius: 8px;
  padding: 1rem;
  color: white;
  overflow-y: auto;
}
