#box{
    width: 630px;
    height: 300px;
    border-radius: 10px;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

#box > * {
    cursor: pointer;
}

#box > *:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
