#root {

  padding: 2rem;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-row: auto;
  width: 100%;
}

#welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 200px;
  text-align: center;
}


